# Mengatur file default (index)
DirectoryIndex index.php index.html index.htm

# Rewrite rules untuk memastikan semua permintaan diarahkan ke index.php
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect semua permintaan ke index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]
</IfModule>

# Menangani error 403 dan 404
ErrorDocument 403 /error.php
ErrorDocument 404 /error.php

# Mengaktifkan Header dan Cache Control
<IfModule mod_headers.c>
    Header set Cache-Control "no-store, no-cache, must-revalidate, post-check=0, pre-check=0"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>

# Menambahkan proteksi direktori
<FilesMatch "^\.ht">
    Order allow,deny
    Deny from all
</FilesMatch>
